
.Container{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10px 10px 10px 10px;
    /* padding: 10px, 10px, 10px, 10px; */
    border-style: double;
    outline: inset;
    overflow: visible;
    background-color: rgb(51, 51, 51);
    color:rgb(0, 136, 254)
}

.SecondContainer{
    position: relative;
    display: flex;
    flex-direction: row;
    align-items:flex-start;
    justify-content: top;
    /* padding: 10px, 10px, 10px, 10px; */

    overflow: visible;
    
}

.ThirdContainer{
    position: relative;
    display: contents;
}

.widgetTitle{
    color:cornsilk
}

.item{
    color:rgb(255, 187, 40);
}

.ReChartDiv{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: top;
    margin: 10px 10px 10px 10px; 
    border-style: double;
    outline: inset;
    overflow: visible;
    color:rgb(0, 136, 254);
    height: 485px;
    width: 800px;
}

.Info{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* padding: 10px, 10px, 10px, 10px; */
    margin: 10px 10px 10px 10px;
    border-style: double;
    outline: inset;
    overflow: hidden;
    width:275px;
    height:485px;
    color:rgb(0, 136, 254)
}

.toolTip{
    color: rgb(0, 108, 116);
}